.vs/KPO/v15/Server/sqlite3/db.lock
KPO/bin/
KPO/obj/
packages/Dapper.1.50.7/.signature.p7s
packages/Dapper.1.50.7/Dapper.1.50.7.nupkg
packages/Dapper.1.50.7/lib/net451/Dapper.dll
packages/Dapper.1.50.7/lib/net451/Dapper.xml
packages/Dapper.1.50.7/lib/netstandard1.3/Dapper.dll
packages/Dapper.1.50.7/lib/netstandard1.3/Dapper.xml
.vs/KPO/v15/.suo
.vs/KPO/v15/Server/sqlite3/storage.ide
.vs/KPO/v15/Server/sqlite3/storage.ide-shm
.vs/KPO/v15/Server/sqlite3/storage.ide-wal
packages/Dapper.1.50.7/lib/netstandard2.0/Dapper.dll
packages/Dapper.1.50.7/lib/netstandard2.0/Dapper.xml
UnitTestKPO/bin/Debug/Dapper.dll
UnitTestKPO/bin/Debug/Dapper.xml
UnitTestKPO/bin/Debug/Database1.mdf
UnitTestKPO/bin/Debug/Database1_log.ldf
UnitTestKPO/bin/Debug/KPO.exe
UnitTestKPO/bin/Debug/KPO.exe.config
UnitTestKPO/bin/Debug/KPO.pdb
UnitTestKPO/bin/Debug/UnitTestKPO.pdb
UnitTestKPO/bin/Debug/UnitTestKPO.dll
UnitTestKPO/obj/Debug/UnitTestKPO.pdb
UnitTestKPO/obj/Debug/UnitTestKPO.csproj.FileListAbsolute.txt
UnitTestKPO/obj/Debug/UnitTestKPO.csprojAssemblyReference.cache
UnitTestKPO/obj/Debug/UnitTestKPO.dll
GUI/bin/Debug/Database1.mdf
GUI/bin/Debug/Database1_log.ldf
GUI/bin/Debug/GUI.exe
GUI/bin/Debug/GUI.pdb
GUI/bin/Debug/KPO.exe
GUI/bin/Debug/KPO.pdb
GUI/obj/Debug/GUI.csproj.GenerateResource.cache
GUI/obj/Debug/GUI.csprojAssemblyReference.cache
GUI/obj/Debug/GUI.exe
GUI/obj/Debug/GUI.pdb
